.App {
  font-family: sans-serif;
  text-align: center;
  margin: 60px auto;
  background-color: aquamarine;
  width: 400px;

  height: 200px;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 15px;
  padding: 0px;
}

.dropdown-toggle {
  background-color: #f1f1f1;
  color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  padding: 10px 33px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-width: 160px;
}

.dropdown-menu li {
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #ddd;
}
